<!doctype html>

<head>
  <title>Hello Azure - Python Quickstart</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<html>

<body>
  <main>
    <div class="container">
      <br>
      <h2>Posted Orders This Week</h2><br>
      <ul class="responsive-table" id="orderTable">
        <li class="table-header">
          <div class="col col-1">Job Id</div>
          <div class="col col-2">Crop Type</div>
          <div class="col col-3">Price per KG</div>
          <div class="col col-4">Quantity posted</div>
          <div class="col col-5"></div>
        </li>
        <li class="table-row" id="firstEntry">
          <div class="col col-1" data-label="Job Id">42235</div>
          <div class="col col-2" data-label="Customer Name">Cocoa (dryed)</div>
          <div class="col col-3" data-label="Amount">$3</div>
          <div class="col col-4" data-label="Payment Status">10 Kg</div>
          <div class="col col-5" data-label="Payment Status"><button type="button" class="btn btn-success"
              onclick="purchase_order(this)">Order</button></div>
        </li>
        <li class="table-row">
          <div class="col col-1" data-label="Job Id">42442</div>
          <div class="col col-2" data-label="Customer Name">Cocoa (dryed)</div>
          <div class="col col-3" data-label="Amount">$5</div>
          <div class="col col-4" data-label="Payment Status">40 Kg</div>
          <div class="col col-5" data-label="Payment Status"><button type="button" class="btn btn-success"
              onclick="purchase_order(this)">Order</button></div>
        </li>
        <li class="table-row">
          <div class="col col-1" data-label="Job Id">42257</div>
          <div class="col col-2" data-label="Customer Name">Cocoa (dryed)</div>
          <div class="col col-3" data-label="Amount">$2.5</div>
          <div class="col col-4" data-label="Payment Status">100 Kg</div>
          <div class="col col-5" data-label="Payment Status"><button type="button" class="btn btn-success"
              onclick="purchase_order(this)">Order</button></div>
        </li>
        <li class="table-row">
          <div class="col col-1" data-label="Job Id">42311</div>
          <div class="col col-2" data-label="Customer Name">Cocoa (fermented)</div>
          <div class="col col-3" data-label="Amount">$6</div>
          <div class="col col-4" data-label="Payment Status">60 Kg</div>
          <div class="col col-5" data-label="Payment Status"><button type="button" class="btn btn-success"
              onclick="purchase_order(this)">Order</button></div>
        </li>
      </ul>
    </div>
  </main>
  <script>
    document.addEventListener('keydown', add_row);
    function purchase_order(btn) {
      var row = btn.parentNode.parentNode;
      $.ajax({
        type: "POST",
        url: "/purchase_order"
      }).done(() => {
        row.parentNode.removeChild(row);
        alert('Order placed!');
      });
    }

    function add_row(e) {
      if (e.key.length == 1) {
        $.ajax({
          type: "POST",
          url: "/add_row"
        }).done(function (data) {
          var json = JSON.parse(data);
          var table = document.getElementById("orderTable");
          var row = document.createElement('li');
          // row.appendChild(document.createTextNode('hello'));
          // table.appendChild(row);
          row.innerHTML = [
            '<div class="col col-1" data-label="Job Id">42801</div>',
            '<div class="col col-2" data-label="Customer Name">' + json.crop_type + '</div>',
            '<div class="col col-3" data-label="Amount">$' + json.price + '</div>',
            '<div class="col col-4" data-label="Payment Status">' + json.quantity + ' Kg</div>',
            '<div class="col col-5" data-label="Payment Status"><button type="button" class="btn btn-success"',
            'onclick="purchase_order(this)">Order</button></div>'
          ].join('');
          row.className = 'table-row';
          table.insertBefore(row, document.getElementById('firstEntry'));
          // var row = table.insertRow(1);
          // var cell1 = table.insertCell(0);
          // var cell2 = table.insertCell(1);
          // var cell3 = table.insertCell(2);
          // var cell4 = table.insertCell(3);
          // var cell5 = table.insertCell(4);
          // cell1.innerHTML = '41418';
          // cell2.innerHTML = json.crop_type;
          // cell3.innerHTML = json.price;
          // cell4.innerHTML = json.quantity;
          // cell5.innerHTML = [
          //   '<button type="button" class="btn btn-success"', 'onclick="purchase_order(this)">Order</button>'
          // ].join('');

          // $("tr").each(function () {
          //   $(this).addClass('col col-1');
          // })
        });
      }
    }

  </script>
</body>

</html>