<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Order Selection</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/fresh-bootstrap-table.css') }}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Fonts and icons -->
  <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <style>
    .titles {
      float: left;
      padding-left: 1em;
      clear: both;
    }
  </style>
</head>

<body>
  <nav class="navmel navmel-expand-lg navmel-dark bg-secondary">
    <div class="container px-5" style="font-size: large; justify-content: space-between; padding: .5rem;">
      <a class="navmel-brand" style="font-size: x-large;" href="./home">GoFarm!</a>
      <button class="navmel-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmelSupportedContent"
        aria-controls="navmelSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navmel-toggler-icon"></span></button>
      <div class="collapse navmel-collapse" id="navmelSupportedContent">
        <ul class="navmel-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" aria-current="page" href="./home">Home</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">Vendor</a></li>
          <li class="nav-item"><a class="nav-link" href="./driver">Driver</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <main>
    <br>
    <div class="container">
      <div class="fresh-table toolbar-color-azure">
        <div class="titles">
          <h2 class="text-light">Posted Orders</h2>
        </div>
        <table id="orderTable" data-url="{{ url_for('static', filename='dataDOWNLOAD.json') }}" class="table">
          <thead>
            <tr>
              <th data-valign="top" data-field="id" data-sortable="true">Job ID</th>
              <th data-field="crop" data-filter-control="select">Crop Type</th>
              <th data-field="price" data-filter-control="input" data-sortable="true">Price ($ per Kg)</th>
              <th data-field="quantity" data-filter-control="input" data-sortable="true">Item Quantity (Kg)</th>
              <th data-field="status" data-filter-control="select" data-sortable="true">Status</th>
              <th data-field="action" data-formatter="operateFormatter" data-events="operateEvents" data-align="center">
                Action</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </main>

  <!-- Javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table.min.js"></script>
  <script
    src="https://unpkg.com/bootstrap-table@1.20.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

  <script type="text/javascript">
    window.operateEvents = {
      'click .purchase': function (e, value, row, index) {
        if (row['status'] === 'Purchased') { // TODO better avail check
          alert("Product already purchased. Please choose another.");
        } else {
          purchase_order(row['id'], row['price'], row['quantity']);
        }
      }
    }

    function operateFormatter(value, row, index) {
      return [
        '<a rel="tooltip" title="Order" class="table-action purchase" href="javascript:void(0)" title="Order">',
        '<i class="fa-solid fa-lg fa-cart-shopping"></i>'
      ].join('')
    }

    $(function () {
      $('#orderTable').bootstrapTable({
        classes: 'table table-hover table-bordered table-striped',
        // toolbar: '.toolbar',

        search: true,
        searchAlign: 'left',
        showRefresh: true,
        showToggle: true,
        showColumns: true,
        buttonsClass: 'light',
        pagination: true,
        striped: true,
        sortable: true,
        pageSize: 11,
        pageList: [10, 12, 25, 50, 100],

        formatShowingRows: function (pageFrom, pageTo, totalRows) {
          return ''
        },
        formatRecordsPerPage: function (pageNumber) {
          return pageNumber + ' rows visible'
        }
      })
    })

    // function headerStyle(column) {
    //   return {
    //     css: { 'font-weight': 'normal' },
    //     classes: 'bg-blue'
    //   }
    // }
    $('#orderTable').on('refresh.bs.table', function () {
      fetch_orders();
      // call_mel();
    })

    function purchase_order(n, p, q) {
      $.ajax({
        type: "POST",
        url: "/purchase_order/" + n
      }).done(() => {
        alert('Order placed! Total Cost: $' + p * q);
      });
    }

    function fetch_orders() {
      $.ajax({
        type: "POST",
        url: "/fetch_orders"
      }).done(function (data) {
        var json = JSON.parse(data);
        console.log(json.rows);
      });
    }

    function call_mel() {
      $.ajax({
        type: "POST",
        url: "/call_mel"
      }).done(function (data) {
        var json = JSON.parse(data);
        console.log(json['success']);
      });
    }

  </script>
</body>

</html>