<!doctype html>

<head>
  <title>Hello Azure - Python Quickstart</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table.min.css">
  <link href="../css/styles.css" rel="stylesheet" />
  <script src="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table.min.js"></script>
  <script
    src="https://unpkg.com/bootstrap-table@1.20.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
</head>
<html>

<body>
  <nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="container px-5">
      <a class="navbar-brand" href="#!">Go Farm!</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="./home">Home</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Vendor</a></li>
          <li class="nav-item"><a class="nav-link" href="./driver">Driver</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <main>
    <div class="container">
      <br>
      <h2>Posted Orders This Week</h2>
      <!-- <div class="float-end">
        <button type="button" class="btn btn-sm btn-secondary" onclick="fetch_orders()">ring ring woman</button><br><br>
      </div> -->
      <table class="table-striped" data-header-style="headerStyle" data-toggle="orderTable" id="orderTable"
        data-search="true" data-search-align="left" data-url="{{ url_for('static', filename='dataDOWNLOAD.json') }}"
        data-height="700" data-buttons-class="primary" data-auto-refresh="true" data-filter-control="true"
        data-show-columns="true" data-show-refresh="true" data-virtual-scroll="true">
        <thead>
          <tr>
            <th data-valign="top" data-field="id">Job ID</th>
            <th data-field="crop" data-filter-control="select">Crop Type</th>
            <th data-field="price" data-filter-control="input" data-sortable="true">Price ($ per Kg)</th>
            <th data-field="quantity" data-filter-control="input" data-sortable="true">Item Quantity (Kg)</th>
            <th data-field="status" data-filter-control="select" data-sortable="true">Status</th>
          </tr>
        </thead>
      </table>
    </div>
  </main>
  <script>
    $(function () {
      $('#orderTable').bootstrapTable()
    })

    function headerStyle(column) {
      return {
        css: { 'font-weight': 'normal' },
        classes: 'bg-blue'
      }
    }

    function purchase_order(btn) {
      var row = btn.parentNode.parentNode;
      $.ajax({
        type: "POST",
        url: "/purchase_order"
      }).done(() => {
        row.parentNode.removeChild(row);
        alert('Order placed!');
      });
    }

    function add_row() {
      $.ajax({
        type: "POST",
        url: "/add_row"
      }).done(function (data) {
        var json = JSON.parse(data);
        if (json['update']) {
          var table = document.getElementById("orderTable");
          var row = document.createElement('li');
          row.innerHTML = [
            '<div class="col col-1" data-label="Job Id">42801</div>',
            '<div class="col col-2" data-label="Customer Name">' + json.data.crop_type + '</div>',
            '<div class="col col-3" data-label="Amount">$' + json.data.price + '</div>',
            '<div class="col col-4" data-label="Payment Status">' + json.data.quantity + ' Kg</div>',
            '<div class="col col-5" data-label="Payment Status"><button type="button" class="btn btn-success"',
            'onclick="purchase_order(this)">Order</button></div>'
          ].join('');
          row.className = 'table-row';
          table.insertBefore(row, document.getElementById('firstEntry'));
        }
      });
    }

    function fetch_orders() {
      $.ajax({
        type: "POST",
        url: "/fetch_orders"
      }).done(function (data) {
        var json = JSON.parse(data);
        console.log(json.rows);
      });
    }

    function call_mel() {
      $.ajax({
        type: "POST",
        url: "/call_mel"
      }).done(function (data) {
        var json = JSON.parse(data);
        console.log(json['success']);
      });
    }

  </script>
</body>

</html>